<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
has made <%= @user.ratings.count %> ratings with average score <%= @user.average_rating %>
<br>
<br>
member of <% @user.beer_clubs.each do |beer_club| %>
	<%= link_to beer_club.name, beer_club %> 	
<% end %>
<p>
<b>ratings</b>
<ul>
 <% @user.ratings.each do |rating| %>
   <li>
   	<%= rating %> 
	<% if @user == current_user %>
   		<%= link_to 'delete', method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
   	</li>
 <% end %>
</ul>
</p>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
