<p id="notice"><%= notice %></p>

<h2> <%= @style %> </h2>

<p>
  <%= @style.description %>
</p>

<% @style.beers.each do |beer| %>
	<li> <%= link_to beer, beer %> </li>
<% end %>

<br>
<%= link_to 'Edit', edit_style_path(@style) %>
<br>
<td><%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' } %></td>